//Colors

$c-outgoing-msg-bg:#e1e1e1;
$c-incoming-msg-bg:#3c4154;
$c-light-grey: #f5f5f5;
$c-titles-font:#656565;
$c-dialog-bg: #fafafa;
$c-separator: #dbdbdb;
$c-font: #868686;
$c-blue: #9ad8ed;
$c-white:#fff;
