.header {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
  background: #f5f5f5;
  flex-direction: column;
  padding: 10px;
  display: flex;
  gap: 20px;
}
.header__search {
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 20px;
  align-items: center;
  padding: 5px 10px;
  font-size: 14px;
  color: #868686;
  display: flex;
  height: 40px;
  width: 100%;
}
.header__seach-field {
  background-color: #fafafa;
  padding-left: 10px;
  border: none;
  width: 100%;
}

.search {
  max-height: 100%;
  width: 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
}

#root {
  min-height: 100vh;
  height: 100%;
}

.App {
  min-height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
}

input {
  outline: none;
}

svg {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

ul {
  list-style-type: none;
}

.container {
  max-width: 1260px;
  padding: 0 30px;
  margin: 0 auto;
  width: 100%;
}

.user-logo {
  position: relative;
  height: 50px;
  width: 50px;
}
.user-logo.flex {
  flex: 1 0 auto;
}
.user-logo img:first-child {
  border-radius: 50%;
}
.user-logo .online {
  position: absolute;
  width: 25%;
  bottom: 0;
  right: 0;
}

.chat-page {
  display: flex;
  height: 100vh;
}

.dialog {
  border-bottom: 1px solid #dbdbdb;
  justify-content: space-between;
  padding: 20px 10px;
  cursor: pointer;
  display: flex;
}
.dialog:last-child {
  border: none;
}
.dialog__main-info {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  gap: 5px;
}
.dialog__main-content {
  align-items: center;
  display: flex;
  gap: 10px;
}
.dialog__title {
  color: #656565;
  font-size: 16px;
}
.dialog__last-msg {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  line-height: 18px;
  overflow: hidden;
  font-size: 14px;
  color: #868686;
}
.dialog__last-msg-time {
  color: #656565;
  text-align: end;
  font-size: 14px;
  flex: 1 0 auto;
}

.chat-history {
  overflow-y: auto;
  max-height: 75vh;
  padding: 10px;
}
.chat-history::-webkit-scrollbar {
  width: 0;
}
.chat-history__msg {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}
.chat-history__msg--column {
  flex-direction: column;
  align-items: flex-end;
  gap: 0;
}
.chat-history__incoming-content {
  width: 100%;
}
.chat-history__incoming-msg {
  text-align: start;
  margin-top: 5px;
  width: 100%;
}
.chat-history__incoming-msg-text {
  background: #3c4154;
  color: #fafafa;
  display: block;
}

.chat-history__outgoing-msg {
  text-align: end;
  margin: 10px 0;
  width: 100%;
}
.chat-history__outgoing-msg-text {
  background: #e1e1e1;
  color: #656565;
}
.chat-history__outgoing-msg-time {
  text-align: end;
}

.msg-text {
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 20px;
  font-size: 14px;
  max-width: 70%;
  padding: 10px;
}

.msg-time {
  padding-top: 10px;
  font-size: 12px;
  color: #868686;
}

.chat__list {
  max-height: 100vh;
}
.chat__title {
  padding: 30px 10px;
  font-size: 25px;
  color: #9ad8ed;
}
.chat__items {
  overflow-y: auto;
  max-height: 60vh;
}
.chat__items::-webkit-scrollbar {
  width: 0;
}

.chat-history {
  overflow-y: auto;
  max-height: 75vh;
  padding: 10px;
}
.chat-history::-webkit-scrollbar {
  width: 0;
}
.chat-history__msg {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}
.chat-history__msg--column {
  flex-direction: column;
  align-items: flex-end;
  gap: 0;
}
.chat-history__incoming-content {
  width: 100%;
}
.chat-history__incoming-msg {
  text-align: start;
  margin-top: 5px;
  width: 100%;
}
.chat-history__incoming-msg-text {
  background: #3c4154;
  color: #fafafa;
  display: block;
}

.chat-history__outgoing-msg {
  text-align: end;
  margin: 10px 0;
  width: 100%;
}
.chat-history__outgoing-msg-text {
  background: #e1e1e1;
  color: #656565;
}
.chat-history__outgoing-msg-time {
  text-align: end;
}

.msg-text {
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: 20px;
  font-size: 14px;
  max-width: 70%;
  padding: 10px;
}

.msg-time {
  padding-top: 10px;
  font-size: 12px;
  color: #868686;
}

.chat-menu {
  border: 1px solid #dbdbdb;
  flex: 1;
}

.extended-chat {
  border-right: 1px solid #dbdbdb;
  flex-direction: column;
  display: flex;
  width: 100%;
  flex: 2;
}
.extended-chat__content {
  flex: 1 0 auto;
}
.extended-chat__header {
  border-bottom: 1px solid #dbdbdb;
  background: #f5f5f5;
  align-items: center;
  display: flex;
  padding: 10px;
  gap: 10px;
}

.type-line {
  border-top: 1px solid #dbdbdb;
  background: #f5f5f5;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 15px;
}
.type-line__field {
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-radius: 30px;
  padding: 0 10px;
  display: flex;
  width: 100%;
}
.type-line__input {
  border-radius: 50%;
  padding: 10px;
  border: none;
  width: 80%;
}

.authorization__page {
  height: 100vh;
}
.authorization__form, .authorization__form-wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100%;
}
.authorization__form-wrapper {
  box-shadow: 8px 8px 17px 1px #3c4154;
  border: 1px solid #dbdbdb;
  border-radius: 10px;
  padding: 30px;
  height: auto;
}
.authorization__form-text {
  color: #868686;
}
.authorization__btn {
  border: 1px solid #dbdbdb !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  padding: 0 5px !important;
  cursor: pointer;
  opacity: 1;
}

.modal {
  justify-content: center;
  align-items: flex-start;
  pointer-events: none;
  transition: 0.5s;
  position: fixed;
  display: flex;
  display: flex;
  height: 100vh;
  width: 100vw;
  z-index: 200;
  opacity: 0;
  left: 0;
  top: 0;
}

.modal.active {
  pointer-events: all;
  padding: 20px;
  opacity: 1;
}

.modal__content {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  transform: scale(0.5);
  transition: 0.4s all;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px 20px;
  border-radius: 50px;
  width: 50vw;
}

.modal__content.active {
  transform: scale(1);
}/*# sourceMappingURL=index.css.map */