.chat {
    &__list {
    max-height: 100vh;
}

    &__title {
        padding: 30px 10px;
        font-size: 25px;
        color: $c-blue;
    }

    &__items {
        overflow-y: auto;
        max-height: 60vh;

        &::-webkit-scrollbar { width: 0; }
    }
}